{% extends 'base.html.twig' %}

{% block title %}{{ serviceProvider.name ?? 'Service Provider' }} Route{% endblock %}

{% block body %}
    <main class="min-h-screen bg-slate-100 py-16">
        <p>here</p>
    </main>
{% endblock %}